<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Qahwa Shop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Access Level", "index", "Access_level", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Products", "Index", "Products", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Company Expenses", "Index", "Company_Expenses", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Coffee", "Index", "Coffee", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Employees", "Index", "Employees", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Invoices", "Index", "Invoices", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Order Details", "Index", "Order_details", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Reviews", "Index", "Reviews", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Rewards", "Index", "Rewards", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Customers", "Index", "Customers", new { area = "" }, new { @class = "navbar-brand" })

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
                <li>@Html.ActionLink("Movies", "Index", "Coffee")</li>
            </ul>
            @*@Html.Partial("_LoginPartial")*@
        </div>
    </div>
</div>
