@model dbproject.Review

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.customer_first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.customer_first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.review_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
